.short-background {
  width: 100%;
  height: 50vh;

  h1 {
    width: 100%;
    height: 100%;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: var(--font-third);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
