.how-work {
  width: 100%;
  margin: 120px 0;

  .how-work__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .how-work__title {
      font-size: 2.4rem;
      font-weight: 700;
      font-family: var(--font-primary);
      margin-bottom: 70px;
      letter-spacing: 1px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::after {
        content: "";
        display: block;
        width: 50px;
        height: 3px;
        background-color: var(--color-secondary-dark);
        margin-top: 10px;
      }
    }

    .how-work__steps {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap; /* Allow wrapping on smaller screens */

      .how-work__step {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        padding: 20px;
        margin: 0 10px;
        border: 1px solid rgba(120, 207, 207, 0.5);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(120, 207, 207, 0.1);
        cursor: pointer;
        position: relative;
        transition: all 0.4s;

        &:hover {
          border: 1px solid var(--color-primary);
          box-shadow: 0 0 10px rgba(120, 207, 207, 0.3);
          transform: translateY(-10px);
        }

        .how-work__step-number {
          position: absolute;
          top: -10px;
          left: -10px;
          background-color: var(--color-secondary-dark);
          color: #fff;
          font-family: var(--font-secondary);
          font-size: 1.1rem;
          padding: 3px 11px;
          border-radius: 10%;
          box-shadow: 0 0 10px rgba(120, 207, 207, 0.3);
        }

        .how-work__step-icon {
          filter: drop-shadow(0 0 10px rgba(120, 207, 207, 0.3));
        }

        .how-work__step-title {
          font-size: 1.3rem;
          font-weight: 700;
          font-family: var(--font-primary);
          margin-top: 10px;
          color: var(--color-primary-dark);
        }

        .how-work__step-description {
          font-size: 1rem;
          font-family: var(--font-secondary);
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .how-work {
    .how-work__container {
      .how-work__title {
        font-size: 2rem;
        margin-bottom: 50px;
      }

      .how-work__steps {
        .how-work__step {
          width: 30%; /* Increase the width of steps for medium-sized screens */
          margin: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .how-work {
    .how-work__container {
      .how-work__title {
        font-size: 1.8rem;
        margin-bottom: 40px;
      }

      .how-work__steps {
        .how-work__step {
          width: 45%; /* Make steps take more space in smaller screens */
          margin: 10px 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .how-work {
    .how-work__container {
      padding: 0 20px;
      .how-work__title {
        font-size: 1.6rem;
      }

      .how-work__steps {
        .how-work__step {
          width: 100%; /* Full width for mobile devices */
          margin: 10px 0;
        }

        .how-work__step-title {
          font-size: 1.2rem;
        }

        .how-work__step-description {
          font-size: 0.9rem;
        }
      }
    }
  }
}
