.driver-dashboard {
  width: 100%;

  .driver-dashboard__container {
    width: 100%;
    display: flex;
    column-gap: 20px;
    margin: 150px 50px;

    .driver-dashboard__sidebar {
      width: 20%;
      background-color: var(--color-primary);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .driver-dashboard__sidebar__items {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            color: #000;
            padding: 10px;
            margin: 20px 0;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: var(--color-primary-light);
            }
          }

          .active {
            background-color: var(--color-primary-light);
          }
        }
      }
    }

    .driver-dashboard__content {
      width: 70%;
      background-color: var(--color-primary-light);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
}
